
/* CSS Document */

html, body {
	
	height : 100%;
	width : 100%;
	margin : 0;
	padding : 0;
	top : 0;
	bottom : 0;
	font-family: 'Lato', sans-serif;
	background-color:  #eaecee;
}

#section-landing {
    background: url('../img/bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.wrapper-landing {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 30%;
}

.wrapper-landing p {
    font-size: 40px;
    color: #34495e;
    margin: 0;
    font-weight: 500;
}

.wrapper-landing p a {
    background-color: #4a235a;
    color: #34495e;
    text-decoration: none;
}

.btn-login {
    border: 1px solid #ffffff;
    padding: 6px 24px;
}

.container {
	width: 100%;
	margin: 30px auto;
}

.profile-wrapper {
	width: 70%;
	min-height: 340px;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid #d5d8dc ;
	background-color: #fff;
}

.profile-wrapper h1 {
    font-size: 28px;
    color:  #283747;
    margin: 0;
    font-weight: 500;
}

.profile-wrapper h2 {
    font-size: 24px;
    color:  #283747;
    margin: 0;
    font-weight: 500;
}

.profile-value{
	font-size: 18px; 
	color: #2c3e50;
}

.profile-label{
	font-size: 14px; 
	font-style: italic; 
	color: #138d75 ; 
	margin-bottom: 15px;
}

.login-wrapper {
	width: 35%;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	text-align: center;
	border: 1px solid #d5d8dc ;
	background-color: #fff;
}

.login-wrapper h1 {
    font-size: 32px;
    color:  #283747;
    margin: 0;
    font-weight: 500;
}

.login-wrapper input {
	/*width: 350px;*/
	width: 65%;
	border: 1px solid #cccccc;
	background-color: #f5f5f5;
	font-size: 16px;
	color:  #34495e;
	letter-spacing: 1px;
	display: block;
	position: relative;
	margin: 20px auto 0;
	padding: 8px;
}

input::placeholder {
	font-size: 14px;
	color:   #566573;
}

.login-wrapper input:focus {
    border: 1px solid #73c6b6;
    background-color: #fff;
    transition: 0.15s ease-in;
}

.login-wrapper select {
	/*width: 350px;*/
	width: 68%;
	border: 1px solid #cccccc;
	background-color: #f5f5f5;
	font-size: 16px;
	color:  #34495e;
	letter-spacing: 1px;
	display: block;
	position: relative;
	margin: 20px auto 0;
	padding: 8px;
} 

.login-wrapper select:focus {
    border: 1px solid #73c6b6;
    background-color: #fff;
    transition: 0.15s ease-in;
}

.login-wrapper h2 {
	font-size: 40px;
	text-transform: uppercase;
}

#btnsubmit {
	/*width: 370px;*/
	width: 68%;
	height: 40px;
	border: 1px solid #1abc9c ;
	background-color: #1abc9c ;
	color:  #fff;
	cursor: pointer;
	font-size: 20px;
	margin: 20px 0px 0px 0px;
}

#btnsubmit:hover {
    border: 1px solid #239b56 ;
    background-color: #239b56 ;
    transition: 0.15s ease-in;
}

.btn-logout{
	font-size: 18px; 
	border: 1px solid #ec7063; 
	background-color: #ec7063; 
	color: #f9ebea; 
	padding: 10px 20px 10px 20px; 
	text-decoration: none;
}

.btn-logout:hover {
	border: 1px solid #e74c3c; 
	background-color: #e74c3c; 
	color: #fdfefe; 
	transition: 0.15s ease-in;
}

.btn-signup{
	font-size: 18px; 
	border: 1px solid #5499c7; 
	background-color: #5499c7; 
	color: #212f3c; 
	padding: 10px 20px 10px 20px; 
	border-radius: 3px; 
	text-decoration: none;
}

.btn-signup:hover {
	border: 1px solid #2874a6; 
	background-color: #2874a6; 
	color: #fdfefe; 
	transition: 0.25s ease-in;
}

.btn-signin{
	font-size: 18px; 
	border: 1px solid #45b39d; 
	background-color: #45b39d; 
	color: #212f3c; 
	padding: 10px 20px 10px 20px;
	border-radius: 3px; 
	text-decoration: none;
}

.btn-signin:hover {
	border: 1px solid #138d75 ; 
	background-color: #138d75 ; 
	color: #fdfefe; 
	transition: 0.25s ease-in;
}


.options a {
    color:  #273746; 
    font-weight: 500;
}

.options a:hover {
    color: #000000;
    transition: 0.20s ease-in;
    text-decoration: none;
    font-weight: 600;
}

.invalidInput {
    color:  #e74c3c;  
    display: block;
}

.successMsg {
	width: 350px;
	height: 0;
	text-align: left;
	background-color: #a3e4d7;
    color:  #2e4053;
    font-size: 16px;
	letter-spacing: 2px;
	display: block;
	position: relative;
	margin: 20px auto 0;
	padding: 20px;
}
